@font-face {
    font-family: "LoveLetterTypewriter";
    src:url('/LoveLetterTypewriterTTL/webfontkit/lovelettertypewriter-webfont.woff2') format('woff2'),
        url('/LoveLetterTypewriterTTL/webfontkit/lovelettertypewriter-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: "LoveLetterTypewriter";
    padding-top: 2rem;
}
.container{
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}
