@font-face {
    font-family: "LoveLetterTypewriter";
    src:url('/LoveLetterTypewriterTTL/webfontkit/lovelettertypewriter-webfont.woff2') format('woff2'),
        url('/LoveLetterTypewriterTTL/webfontkit/lovelettertypewriter-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: "LoveLetterTypewriter";
    text-align: center;
}
.header {
    padding-top:20vh;
    height: 100vh;
    background-image: url("/img/wallpaper.jpg");
    background-size: cover;
}
.header {
    color: white;
}
.name {
    font-size: 5rem;
}
.caption{
    font-size:2rem;
    font-weight: 700;
}
.about,
.contact,
.projects {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.about h2,
.contact h2,
.projects h2 {
    margin-bottom: 2rem;
}
.profile {
    width: 100%;
    max-width: 300px;
}
.about {
    background-color: orange;
}
.projects {
    background-color: skyblue;
}
.projects h3 {
    margin-top: 0.5rem;
}
.contact {
    background-color: plum;
}
.contact .col-md-4 {
    margin-bottom: 1.5rem;
}
.contact img {
    width: 120px;
    height: 120px;
    margin-bottom: 1.5rem;
}
